%html
  %head
    %meta{:charset => 'UTF-8'}
    %title The Awesome Company
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'bower_components/normalize-css/normalize.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'main.css'}

  %body
    .container
      %header
        %h1 Awesome Company
      %nav
        %ul
          %li
            %a{:href=>'#'} Home
          %li
            %a{:href=>'#'} About
          %li
            %a{:href=>'#'} Services
          %li
            %a{:href=>'#'} Contact
      .content
        %section
          %h1 A Page Title
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit, tellus ornare mollis rhoncus, risus dui tincidunt nisl, nec vulputate sapien neque at tellus. Aenean in ornare nisl, sed porta dui.
          %p Nunc sit amet arcu id ligula commodo consequat vel a lorem. Proin auctor, purus in dictum efficitur, mauris purus dictum augue, vitae laoreet ante nunc in sapien. Maecenas consectetur egestas euismod.
        %section
          %h2 A Paragraph
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit, tellus ornare mollis rhoncus, risus dui tincidunt nisl, nec vulputate sapien neque at tellus. Aenean in ornare nisl, sed porta dui.
          %p Nunc sit amet arcu id ligula commodo consequat vel a lorem. Proin auctor, purus in dictum efficitur, mauris purus dictum augue, vitae laoreet ante nunc in sapien. Maecenas consectetur egestas euismod.
        %section
          %h2 A Paragraph
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit, tellus ornare mollis rhoncus, risus dui tincidunt nisl, nec vulputate sapien neque at tellus. Aenean in ornare nisl, sed porta dui.
      %footer
        %p Copyright &copy; 2013 Awesome Company LLC.
