.container {
  margin: 0 40px;
  display: inline-block;

  header {
    width: 100%;
  }

  nav {
    width: 25%;
    float: left;

    ul {
      list-style-type: none;
      padding-left: 0;
    }
  }

  .content {
    width: 70%;
    padding-left: 12pt;
    float: left;
    border-left: 1px solid black;
  }

  footer {
    width: 100%;
    float: left;
    border-top: 1px solid black;

    p {
      margin-left: 25%;
      margin-right: 5%;
    }
  }

}
