!!! 5

%html{"xml:lang" => "en"}

	%head
		%meta{:charset => "UTF-8"}
		%title The Awesome Company
		%link{:rel =>"stylesheet", :href => "bower_components/normalize-css/normalize.css"}
		%link{:rel =>"stylesheet", :href => "main.css"}

	%body
		%div{:class => "container"}
			%header
			%span
				%a{:href => "#"} Awesome Company

			%nav
				%ul	
					%link