.container {
  margin-left: 6%;
  width: 60%;
}

h1 {
  font-weight: 900;
}

nav {
  float: left;
  width: 18%;
  overflow: scroll;
}

nav ul {
  float: left;
  padding: 0px 1%;
  margin: 0px;
}

nav ul li {
  list-style: none;
}

.content {
  float: left;
  width: 78.5%;
  border-left: 2px solid #808080;
  padding: 0px;
  padding-left: 2%;
}

.content > section > h1 {
  margin-top: 1.25%;
}

.content p {
  font-size: .95em;
}

footer {
  clear: both;
  border-top: 2px solid #808080;
}

footer p {
  margin-left: 14.25%;
  padding: 10px 0px;
}
